@model IEnumerable<Morgenmadsbuffeten.Models.DataFromReception>

@{
    ViewData["Title"] = "Overview";
}

<h1>Check in information</h1>

<form action="/DataFromReception/ListAllGuetstsByDate" method="get" id="FindGuetsByDate">
    <label>Date:</label>
    <input type="date" required name="date" id="date"/>
    <input type="submit" value="Ok" id="getListByDate" name="getListByDate"/>
</form>


